<div>
  <div class="card">
  <header>
    <h2>Add Sermon</h2>
    <p>Add a sermon here</p>
  </header>
  <section>
    <form action="" method="post" class="form">
     <div>
       <label for="title"></label>
       <input id="title" type="text" name="title" placeholder="Enter sermon title">
     </div>
      <div>
        <label for=""></label>
        <input id="title" type="text" name="title" placeholder="Enter sermon title">
       </div>
     <button class="btn" type="submit">Add Sermon</button>
    </form>
  </section>
</div>
</div>
