div(class="w-full mt-6 mb-2 px-4 h-40 overflow-hidden rounded-b-4xl")
  img(
    src="/images/team.jpg", 
    alt="Team Photo", 
    class="w-full h-full object-cover object-center rounded-b-4xl"
  )
  
//- write ups in cards
div(class="flex flex-col mx-4 my-3 h-24 p-4 rounded-t-4xl bg-teal-600 shadow")
  h3(class="text-white text-center font-bold pb-2") 
    | Discover Your Purpose
  p(class="text-xs text-white text-center") 
    | Step into the life you were created for by 
    br 
    | uncovering your God-given calling and destiny.
    
//- 2nd card
div(class="flex flex-col mx-4 my-3 h-24 p-4 rounded-xl bg-[#2e6b9d] shadow")
  h3(class="text-white text-center font-bold pb-2") 
    | Develop Your Leadership
  p(class="text-xs text-white text-center") 
    | Build the character, skills and wisdom needed
    br 
    | to lead with excellence, influence and impact.
    
//- 3rd card 
div(class="flex flex-col mx-4 my-3 h-24 p-4 rounded-b-4xl bg-[#8e2e9c] shadow")
  h3(class="text-white text-center font-bold pb-2") 
    | Transform Your World
  p(class="text-xs text-white text-center") 
    | Become a change agent, empowering others 
    br 
    | and shaping society through Kingdom principles.