<%- include('../partials/header', {
  title: "Dive into a wealth of wisdom",
  subtitle: "Explore various resources based on your area of interest!",
  subtitleClass: "max-w-[18rem]"
  }) %>
  
  
<!-- The clickable options -->
<div class="flex items-center justify-between text-xs mx-4">
  <div class="space-x-2 text-gray-400">
    <a href="" class="font-bold text-black bg-purple-200 p-2 rounded-lg">Emotions & Love</a>
    <a href="">Finances</a>
    <a href="">Trauma</a>
    
  </div>
  <a href="" class="font-bold"> View more ></a>
</div>